body {
    background-color: #F7EEE9;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logo img{
    width: 385px;
    height: 385px;

}

header{
    display: flex;
}

.navigationbar{
    padding-top: 100px;
}

.navigationbar li{
    display: inline-block;
    background-color: #7EA172;
    padding: 20px;
    color: white;
    border-radius: 30px;
    width: 226px;
    font-size: 40px;
    text-align: center;
}

.navigationbar li a {
    color: white;
    text-decoration: none;
}

.navigationbar li:hover {
background-color: #1B3022
}

.card-container {
    display: block;
}

.card-wrapper {
    display: block;
    width: 100%;
}

.card {
    position: relative;
    display: inline-block;
    background-color: lightgrey;
    width: 500px;
    height: 500px;
    margin: 25px 10px;
    padding: 15px;
    border-radius: 30px;
    text-align: center;
}

.card h2 {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card:last-of-type {
    float: right;
}

footer{
    background-color:#1B3022;
    height: 405px;
    text-align: center;  
}

footer h2{
color: white;
font-size: 96px;
margin: 0;
margin-bottom: 20px;

}
footer ul{
list-style: none;
color: white;
font-size: 24px;
}
footer li{
    padding: 10px 0;
}

/* About page */

.flexContainer {
 display: flex;
 flex-direction: column; 
 
  
}
.flexContainer div {
    display: flex;
    background-color: #7EA172;
    border: 1px solid black;
    
}